{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CurioCity 101</title>

    <!-- Bootstrap core CSS -->
    <link href=" {% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static 'css/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
	
</head>

<body>

    <!-- Side Menu -->
    
  <!--  <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a href="http://startbootstrap.com">Start Bootstrap</a>
            </li>
            <li><a href="#top">Home</a>
            </li>
            <li><a href="#about">About</a>
            </li>
            <li><a href="#services">Services</a>
            </li>
            <li><a href="#portfolio">Portfolio</a>
            </li>
            <li><a href="#contact">Contact</a>
            </li>
        </ul>
    </div>  -->
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header" >
        <div class="vert-text" >	
		
            <h1 style = "color:white "> CurioCity 101</h1>
            <h3 style = "color:white; ">Are you Curious about your City? Take this class </h3>  </br>
			
            <a href="#about" class="btn btn-danger btn-lg" style ="opacity:0.8"> <i class="fa fa-google-plus"></i> Login with Google</a>
			<a href="#about" class="btn btn-primary btn-lg"style ="opacity:0.8"> <i class="fa fa-facebook-square"></i> Login with Facebook</a>
			<a href="#about" class="btn btn-default btn-lg"style ="opacity:0.8">   Sign Up with Email</a> 
			
			
        </div>
		
    </div>
    <!-- /Full Page Image Header Area -->

   
    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>


</body>

</html>